### running time

In [3]:
import pandas as pd
import time

import time
class Timer:

    def __enter__(self):
        self.start = time.clock()
        return self

    def __exit__(self,*args):
        self.end = time.clock()
        self.interval = self.end-self.start

In [4]:
with Timer() as t:
    pd.read_csv("german_credit.csv")
print t.interval

In [111]:
import pandas as pd
def timer(func):
    def decor(*args):

        start_time = time.time();
        func(*args);
        end_time = time.time();
        d_time = end_time - start_time
        print("run the func use : ", d_time)


    return decor;

@timer  #printSth = timer(printSth) -> printSth = decor
def test():
    pd.read_csv("test.txt")
test()

('run the func use : ', 0.003000020980834961)

### iterator

In [8]:
l=[x**2 for x in range(10)]+[0,1,1]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 1]

In [9]:
from collections import Counter
Counter(l)

Counter({0: 2, 1: 3, 4: 1, 9: 1, 16: 1, 25: 1, 36: 1, 49: 1, 64: 1, 81: 1})

In [33]:
l2=[[1,2,3],[4,5,6]]
zip(*l2)

[(1, 4), (2, 5), (3, 6)]

In [13]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
      print a, b

a1 b1
a2 b2
a3 b3

In [15]:
for index,item in enumerate(alist):
    print index,item

0 a1
1 a2
2 a3

### swap two value

In [18]:
a=1
b=2
print "a=",a,"b=",b
a,b=b,a
print "a=",a,"b=",b

a= 1 b= 2
a= 2 b= 1

### continuous

In [19]:
1<3<6

True

In [20]:
1<3<2

False

In [ ]:
re.compile("^\[font(?:=(?P<size>[-+][0-9]{1,2}))?\](.*?)[/font]", re.DEBUG)

### powerful

In [22]:
sum = {}
value = 'a'
sum[value] = sum.get(value, 0) + 1
sum

{'a': 1}

In [28]:
sum = {}
sum.get(value, 0)
sum

{}

In [38]:
a=4.3
b=2.1
a+b==6.4

True

In [44]:
l

[1, 1, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [43]:
l.reverse()
l

[1, 1, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [48]:
with open("test.txt","wt") as f:
    f.write("Hello\nI'm jason")

In [49]:
print l
print l.pop()
print l

[1, 1, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]
0
[1, 1, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [52]:
l3=["abc","adsfdsa","dsaf"]
"".join(l3)

'abcadsfdsadsaf'

In [56]:
dic = {'name':'Tim', 'age':23}
dic.get("workage",0)+1

1

In [66]:
2 if 4<3 else 1

1

In [68]:
colors = ['red', 'green', 'blue', 'yellow']
for i, color in enumerate(colors):
    print (i, '--->', color)

(0, '--->', 'red')
(1, '--->', 'green')
(2, '--->', 'blue')
(3, '--->', 'yellow')

In [71]:
names = ['raymond', 'rachel', 'matthew', 'roger',
         'betty', 'melissa', 'judith', 'charlie']
 
s =""
for name in names[1:]:
    s += ', ' + name
print (s[1:])

 rachel, matthew, roger, betty, melissa, judith, charlie

In [72]:
', '.join(names)

'raymond, rachel, matthew, roger, betty, melissa, judith, charlie'

In [73]:
with open("test.txt") as f:
    print f.read()

Hello
I'm jason

In [84]:
for key,value in enumerate(p):
    print key,value

0 vttalk
1 female
2 30
3 python@qq.com

In [85]:
l

[1, 1, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [87]:
ll=l
ll[1]=222
l

[1, 222, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [89]:
ll=l[:]
ll[0]=222
l

[1, 222, 0, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [90]:
l[::-1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 222, 1]

In [91]:
dic

{'age': 23, 'name': 'Tim'}

In [97]:
dir(dic)
print dic.get("name2","unknown")

unknown

In [98]:
data = [('foo', 10), ('bar', 20), ('foo', 39), ('bar', 49)]
groups = {}
for (key, value) in data:
    if key in groups:
        groups[key].append(value)
    else:
        groups[key] = [value]
groups

{'bar': [20, 49], 'foo': [10, 39]}

In [104]:
print dic
print dic.setdefault("name3",2)
dic

{'age': 23, 'name2': 2, 'name': 'Tim'}
2

{'age': 23, 'name': 'Tim', 'name2': 2, 'name3': 2}

In [99]:
dic

{'age': 23, 'name': 'Tim'}

In [107]:
numbers=[1,2,3]
{number:number*2 for number in numbers if number > 1}

{2: 4, 3: 6}